---
title: Hi and Welcome to the Alasco Tech Blog!
subtitle: Here we'd like to share our experiences and thoughts building Alasco’s tech platform. We heavily rely on open source and the web community at large and would like to contribute back with this blog. If you have any questions (or would like to <a href="https://alasco.breezy.hr/">join us</a>), feel free to reach out <a  href="https://www.twitter.com/tech_alasco">@tech_alasco</a>!
layout: page
author: Alasco Tech Team
---


<div class="section">
  <div class="max-width-container">
    <h2>Latest Posts</h2>
    <div class="flexcontainer">
      
    {% for post in site.posts %}
          <div class="flex-box-33">
            <div class="flex-box-padding">
              <a data-w-id="06f08df4-8d04-178d-5325-4f7e27001551" href="{{ post.url }}" class="article-link-block w-inline-block">
                <div class="post-container">
                  <div class="article-image-container">
                    <img src="{{ site.url }}/assets/images/{{ post.thumb|default: 'post_thumb.jpg' }}" alt="{{ post.teaseralt | default: post.title }}" class="article-teaser-image">
                  </div>
                  <div class="post-text-container">
                    <h3 class="article-heading">{{ post.title }}</h3>
                    <p data-w-id="3e90a71a-1326-8569-f2ef-3f960b8e4fc2" class="article-teaser-text" style="height: 0px;">
                      {{ post.excerpt | strip_html | strip_newlines | truncate: 140 }}
                    </p>
                    <div class="author-container">
                      {% if post.author.first %}
                        {% comment %} author is not a string, but an array {% endcomment %}
                        {% for author in post.author %}
                          {% assign writer = site.data.authors[author] %}
                          <img src="{{ site.url }}/assets/images/{{ writer.image|default: 'placeholder_author.jpg' }}" alt="{{ writer.name }}"
                            class="author-image">
                        {% endfor %}
                        <div class="author-info">
                          <div class="author-name">
                            {%- for author in post.author -%}
                              {%- if forloop.last -%}&nbsp;&amp;&nbsp;{%- elsif forloop.first -%}{%- else -%},&nbsp;{%- endif -%}
                              {{- site.data.authors[author].name -}}
                            {%- endfor -%}
                          </div>
                          <div class="article-date">{{ post.date | date: "%B %e, %Y" }}</div>
                        </div>
                      {% else %}
                        {% assign writer = site.data.authors[post.author] %}
                        <img src="{{ site.url }}/assets/images/{{ writer.image|default: 'placeholder_author.jpg' }}" alt="{{ writer.name }}" class="author-image">
                        <div class="author-info">
                          <div class="author-name">{{ writer.name }}</div>
                          <div class="article-date">{{ post.date | date: "%B %e, %Y" }}</div>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
    {% endfor %}

      </div>
    </div>
  </div>
</div>