---
---
/* Syntax Highlighting CSS */
@import '../bootstrap/bootstrap';
@import url(../../assets/css/murphy.css);

/* Variables */


/*
Sticky footer (https://stackoverflow.com/questions/40853952/bootstrap-footer-at-the-bottom-of-the-page)
*/
html {
  position: relative;
  min-height: 100%;
}

/* nicer blockquotes (for post overview) */
.post-excerpt {
  background-color: $white;
  padding: 1rem;
  border-radius: .25rem;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
    background-color: #f3f5f8;
    padding: 1rem;
    border-radius: .25rem;
}

/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 1rem;
    /*margin: 0 -1rem 1rem;*/
  }
  .sidebar-module-inset {
    padding: 1rem;
    background-color: $gray-300;
    border-radius: .25rem;
  }
  .sidebar-module-inset p:last-child,
  .sidebar-module-inset ul:last-child,
  .sidebar-module-inset ol:last-child {
    margin-bottom: 0;
  }

/*
 * Blog posts
 */

 .blog-post {
    margin-bottom: 4rem;
  }
  .blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
  }

  .blog-post img {
    max-width: 100%;
    height: auto;
  }

  .blog-post-subtitle {
    font-style: italic;
  }
