<div class="section footer">
    <div class="max-width-container">
      <div class="flexcontainer">
        <div class="flex-box-50">
          <div class="flex-box-padding">
            <div class="flexcontainer footer-inside">
              <div class="flex-box-50">
                <div class="flex-box-padding">
                  <h4>Company</h4><a href="https://www.alasco.de" target="_blank" class="footer-link padding">Home</a><a href="https://www.alasco.de/about/" target="_blank" class="footer-link padding">About Us</a><a href="https://www.alasco.de/contact/" target="_blank" class="footer-link padding">Contact Us</a></div>
              </div>
              <div class="flex-box-50">
                <div class="flex-box-padding">
                  <h4>Social</h4>
                  <div class="flexcontainer social footer"><img src="{{ site.url }}/assets/images/twitter-square-brands_1.svg" alt="" class="social-icon"><a href="https://twitter.com/tech_alasco" target="_blank" class="footer-link">@tech_alasco</a></div>
                  <div class="flexcontainer social footer"><img src="{{ site.url }}/assets/images/heart-solid.svg" alt="" class="social-icon"><a href="https://www.glassdoor.de/Bewertungen/Alasco-Bewertungen-E2277787.htm?countryRedirect=true" target="_blank" class="footer-link">Alasco at Glassdoor</a></div>
                  <div class="flexcontainer social footer"><img src="{{ site.url }}/assets/images/smile-solid.svg" alt="" class="social-icon"><a href="https://www.kununu.com/de/alasco" target="_blank" class="footer-link">Alasco at Kununu</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-box-50">
          <div class="flex-box-padding">
            <div class="job-box">
              <h4 class="h4-jobbox">Join our growing team!</h4>
              <h5>We&#x27;re hiring.</h5><a href="https://alasco.breezy.hr/" target="_blank" class="button-grey w-button">View Jobs now</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider footer"></div>
    <div class="max-width-container">
      <div class="footer-lower-container w-clearfix">
        <div class="copyright">© 2020 Alasco GmbH</div><a href="https://www.alasco.de/datenschutzerklaerung-alasco/" class="footer-link right">Datenschutz</a><a href="https://www.alasco.de/impressum/" class="footer-link right">Impressum</a></div>
    </div>
  </div>