<div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navbar w-nav">
    <div class="max-width-container nav">
      <a href="{{ site.url }}" class="brand w-nav-brand">
        <img src="{{ site.url }}/assets/images/Logo.svg" alt="Alasco Logo" class="logo_image">
      </a>
      <div class="nav-textblock">Tech Blog</div>
      <div class="header-nav-right">
        <a target="_blank" rel="noopener noreferrer" href="https://www.alasco.de/en/career/" 
          class="nav-header-link">
          <span>Career</span>
        </a>
  
        <a target="_blank" rel="noopener noreferrer" href="https://alasco.breezy.hr/?utm_medium=techblog&utm_source=cta-btn&utm_campaign=techblog" 
          class="button-primary w-button button-navigation">View open positions
        </a>
      
      </div>
    </div>
  </div>




