<div class="col-md-3 offset-md-1">
  <div class="row mb-4">
    <div class="col">
      <h3>Favorite Blogs</h3>
      <div><a href="https://www.alasco.de/blog/">Alasco Blog</a></div>
      <div><a href="https://www.joelonsoftware.com/">Joel on Software</a></div>
      <div><a href="https://blog.codinghorror.com/">Coding Horror</a></div>
      <div><a href="https://retromat.org/">Retromat</a></div>
      <div><a href="https://www.radicalcandor.com/blog/">Radical Condor</a></div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <h3>Recent Tweets</h3>
      <a class="twitter-timeline" href="https://twitter.com/AlascoTech?ref_src=twsrc%5Etfw"></a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <h3>Developer Playlist</h3>
      <iframe src="https://open.spotify.com/embed/user/1121940860/playlist/0gzzDgp2PQQBjwqwDFuiJC" width="100%"
              height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>

</div>
