<div class="author-container"><img src="{{ site.url }}/assets/images/{{ site.data.authors[page.author].image|default: 'placeholder_author.jpg' }}" alt="" class="author-image big">
    <div class="author-info">
        <div class="author-name">{{ site.data.authors[page.author].name }}</div>
        <div class="article-date">{{ page.date | date: "%B %e, %Y" }}</div>
    </div>
    <div class="author-socials">
    {% if site.data.authors[page.author].twitter %}
    <div class="flexcontainer social"><img src="{{ site.url }}/assets/images/twitter-square-brands.svg" alt="" class="social-icon"><a href="https://www.twitter.com/{{ site.data.authors[page.author].twitter }}" target="_blank" class="author-social-link">@{{ site.data.authors[page.author].twitter }}</a></div>
    {% endif %}
    {% if site.data.authors[page.author].linkedin %}
    <div class="flexcontainer social"><img src="{{ site.url }}/assets/images/linkedin-brands.svg" alt="" class="social-icon"><a href="https://www.linkedin.com/in/{{ site.data.authors[page.author].linkedin }}/" target="_blank" class="author-social-link">{{ site.data.authors[page.author].linkedin }}</a></div>
    {% endif %}
    </div>
</div>