.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg");
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

body {
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 1em;
  line-height: 1em;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #046;
  font-size: 2em;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #046;
  font-size: 1.5em;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #046;
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 1.2em;
  line-height: 1.1em;
  font-weight: 700;
  text-align: left;
}

h5 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

p {
  margin-bottom: 15px;
  color: #046;
  font-size: 1em;
  line-height: 1.6em;
}

li {
  margin-bottom: 10px;
  line-height: 1.6em;
}

.max-width-container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.max-width-container.footer {
  text-align: center;
}

.max-width-container.article {
  max-width: 980px;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.max-width-container.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: hsla(0, 0%, 100%, 0.95);
  box-shadow: 0 1px 12px -10px #000;
}

.nav-textblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #046;
  font-size: 1.5em;
}

.brand {
  margin-right: 10px;
}

.logo_image {
  width: 170px;
}

.section {
  padding-top: 40px;
  padding-bottom: 60px;
}

.section.recommended-posts {
  background-color: #e6f6ff;
}

.section.header {
  padding-top: 140px;
  padding-bottom: 70px;
  background-color: #f0f4f6;
}

.section.footer {
  padding-bottom: 20px;
  background-color: #046;
}

.section.article {
  padding-top: 0px;
}

.section.article-header {
  padding-top: 140px;
  padding-bottom: 40px;
}

.flexcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flexcontainer.social {
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flexcontainer.social.footer {
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.flex-box-50 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 50%;
  -ms-flex: 0 50%;
  flex: 0 50%;
}

.flex-box-padding {
  padding-right: 15px;
  padding-left: 15px;
}

.category-button {
  margin: 5px;
  padding: 12px 20px;
  border-radius: 5px;
  background-color: #cfdee6;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #3689b3;
}

.category-button:hover {
  background-color: #a3becc;
  color: #f0f4f6;
}

.flex-box-33 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 33.33%;
  -ms-flex: 0 33.33%;
  flex: 0 33.33%;
}

.post-container {
  position: relative;
  min-height: 350px;
  border-radius: 5px;
  box-shadow: 0 0 15px -10px #000;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.post-container:hover {
  box-shadow: 0 0 15px -6px #000;
}

.post-text-container {
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 50%;
  padding: 10px 15px 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
}

.post-text-container.recommended {
  min-height: 25%;
}

.article-link-block {
  margin-bottom: 30px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #046;
  text-decoration: none;
  width: 100%;
}

.article-link-block:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.article-heading {
  margin-top: 0px;
  margin-bottom: 15px;
}

.article-teaser-text {
  display: block;
  overflow: hidden;
  font-size: 0.9em;
  line-height: 1.3em;
}

.category-label {
  position: absolute;
  left: 5px;
  top: 5px;
  right: auto;
  bottom: auto;
  z-index: 99;
  display: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #cfdee6;
  color: #3689b3;
}

.article-date {
  margin-bottom: 2px;
  color: #046;
  font-size: 0.8em;
  font-weight: 300;
}

.article-teaser-image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 0%;
  object-position: 50% 0%;
}

.footer-link {
  display: block;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  text-align: left;
  text-decoration: none;
}

.footer-link:hover {
  color: #0f9999;
}

.footer-link.last {
  margin-bottom: 25px;
}

.footer-link.right {
  display: inline;
  margin-left: 20px;
  float: right;
  color: #6ac;
}

.footer-link.first {
  margin-bottom: 15px;
  padding-bottom: 5px;
  font-size: 1.2em;
  font-weight: 700;
}

.footer-link.padding {
  margin-bottom: 10px;
}

.author-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.author-image {
  width: 35px;
  border-radius: 100px;
}

.author-image.big {
  width: 50px;
}

.author-name {
  display: block;
  margin-bottom: 3px;
  font-size: 0.8em;
  font-weight: 700;
}

.button_load_more {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 60px;
  border-radius: 5px;
  background-color: #36b3b3;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-weight: 700;
}

.button_load_more:hover {
  background-color: #0f9999;
}

.article-image-container {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  height: 175px;
}

.article-image-container.recommended {
  height: 250px;
}

.accordion {
  width: 100%;
  cursor: pointer;
}

.accordion_toggle_form {
  width: 100%;
  color: #2897f3;
  font-size: 1em;
}

.accordion_toggle_form:hover {
  color: #2897f3;
}

.accordion_toggle_form.w--open {
  background-image: url("../images/close_icon_bue_1close_icon_bue.png");
  background-position: 99% 50%;
  color: #2897f3;
}

.accordion-content {
  overflow: hidden;
  margin-right: -15px;
  margin-left: -15px;
  padding-right: 15px;
  padding-left: 15px;
}

.article-header-image-container {
  position: relative;
  margin-top: 30px;
  margin-bottom: 15px;
}

.article-header-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.flex-box-70 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 70%;
  -ms-flex: 0 70%;
  flex: 0 70%;
}

.list {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #046;
  font-size: 1.1em;
}

.list.numbered {
  list-style-type: decimal;
}

.list-item {
  margin-bottom: 5px;
}

.job-box {
  padding: 15px;
  border-radius: 5px;
  background-color: #f0f4f6;
  text-align: center;
}

.flex-box-30 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 30%;
  -ms-flex: 0 30%;
  flex: 0 30%;
}

.content-image {
  margin-bottom: 15px;
}

.textlink {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #0f9999;
  text-decoration: none;
}

.textlink:hover {
  color: #066;
}

.article-content a {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #0f9999;
  text-decoration: none;
}

.article-content a:hover {
  color: #066;
}

.link-to-top {
  margin-top: 25px;
  padding: 15px 25px;
  float: right;
  border-radius: 5px;
  background-color: #36b3b3;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.link-to-top:hover {
  background-color: #0f9999;
}

.author-info {
  padding-left: 10px;
}

.h2-subheadline {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 300;
}

.button-grey {
  padding: 15px 25px;
  border-radius: 5px;
  background-color: #cfdee6;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #3689b3;
  text-transform: uppercase;
}

.button-grey:hover {
  background-color: #a3becc;
  color: #f0f4f6;
}

.h4-jobbox {
  margin-top: 0px;
  margin-bottom: 5px;
  color: #046;
  text-align: center;
}

.h1-article-headline {
  margin-bottom: 0px;
  line-height: 1.5em;
}

.article p {
  font-size: 1.1em;
}

.paragraph-article {
  font-size: 1.1em;
}

.paragraph-article.code-snippet {
  font-family: Inconsolata, monospace;
  font-size: 1em;
}

.article code {
  font-family: Inconsolata, monospace;
  font-size: 1em;
}

.article p > code {
  padding: 2px 4px;
  background-color: #f8f8f8;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.article pre {
  white-space: pre;
  overflow-x: auto;
  margin: 1em 0em;
  max-width: 100%;
  color: #1b1b32;
  font-size: 1.1em;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
}

.button_load_less {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 60px;
  border-radius: 5px;
  background-color: #36b3b3;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.button_load_less:hover {
  background-color: #0f9999;
}

.divider {
  width: 100%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #0f6b99;
}

.divider.footer {
  margin-top: 40px;
}

.divider.small {
  width: 50%;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #cfdee6;
}

.social-icon {
  width: 15px;
  margin-right: 8px;
}

.quote {
  margin-bottom: 5px;
  font-size: 1.3em !important;
  font-style: italic;
  text-align: left;
}

.quote.quote-author {
  margin-bottom: 15px;
  color: #0f9999;
  font-size: 0.9em !important;
  text-align: left;
}

.red-highlight {
  font-family: Inconsolata, monospace;
  color: #e64d2e;
}

.article-embed {
  margin-bottom: 15px;
}

.copyright {
  display: inline-block;
  color: #6ac;
}

.author-social-link {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #0f6b99;
  font-size: 0.8em;
  text-decoration: none;
}

.author-social-link:hover {
  color: #066;
}

.author-socials {
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px solid #cfdee6;
}

@media screen and (max-width: 991px) {
  .max-width-container {
    padding-right: 50px;
    padding-left: 50px;
  }
  .nav-textblock {
    font-size: 1.6em;
  }
  .brand {
    padding-left: 0px;
  }
  .section.header {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .flex-box-33 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .post-text-container {
    min-height: 0%;
  }
  .article-teaser-image {
    padding-bottom: 25%;
  }
  .footer-link {
    font-size: 0.9em;
  }
  .article-image-container {
    position: static;
    height: auto;
  }
  .article-header-image-container {
    height: auto;
  }
  .flex-box-70 {
    -webkit-flex-basis: 70%;
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    overflow: hidden;
  }
  .flex-box-30 {
    -webkit-flex-basis: 30%;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    overflow: hidden;
  }
  .social-icon {
    width: 15px;
    margin-right: 5px;
  }
  .copyright {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.8em;
  }
  .max-width-container {
    padding-right: 30px;
    padding-left: 30px;
  }
  .nav-textblock {
    line-height: 1.2em;
  }
  .section.article-header {
    padding-top: 100px;
    padding-bottom: 0px;
  }
  .flex-box-50 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .flex-box-33 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .post-text-container {
    position: static;
  }
  .article-teaser-image {
    padding-bottom: 0%;
  }
  .article-image-container {
    position: static;
  }
  .accordion_toggle_form {
    font-size: 1em;
  }
  .flex-box-70 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    overflow: hidden;
  }
  .job-box {
    margin-top: 30px;
  }
  .flex-box-30 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 1.6em;
  }
  h2 {
    font-size: 1.4em;
  }
  .max-width-container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .nav-textblock {
    font-size: 1.2em;
  }
  .logo_image {
    width: 150px;
  }
  .section.header {
    padding-top: 90px;
  }
  .flex-box-33 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .article-heading {
    font-size: 1.1em;
  }
  .accordion {
    display: inline-block;
  }
  .flex-box-70 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .flex-box-30 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}
