---
---
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/base.css">
  {% seo %}
</head>

<body>
<div class="container">

  <div class="row blog-header">
    <div class="col-2">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="https://www.github.com/alasco-tech"><i class="fab fa-github"></i></a>
        </li>
        <li class="list-inline-item"><a href="https://www.twitter.com/AlascoTech"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/company/alasco-gmbh/"><i
            class="fab fa-linkedin"></i></li>
        <li class="list-inline-item"><a href="https://www.xing.com/companies/alascogmbh"><i class="fab fa-xing"></i>
        </li>
        <li class="list-inline-item"><a href="mailto:tech@alasco.de"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
    <div class="col-8 text-center">
      <a href="{{ site.url }}">
        <img src="{{ site.url }}/assets/img/header_logo.png" class="img-fluid"/>
      </a>
    </div>
    <div class="col-2">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-md-8">
          {{ content }}
        </div>
        <div class="col-md-3 offset-md-1">
          <div class="row mb-4">
            <div class="col">
              <h3>Favorite Blogs</h3>
              <div><a href="https://www.alasco.de/blog/">Alasco Blog</a></div>
              <div><a href="https://www.joelonsoftware.com/">Joel on Software</a></div>
              <div><a href="https://blog.codinghorror.com/">Coding Horror</a></div>
              <div><a href="https://retromat.org/">Retromat</a></div>
              <div><a href="https://www.radicalcandor.com/blog/">Radical Condor</a></div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col">
              <h3>Recent Tweets</h3>
              <a class="twitter-timeline" href="https://twitter.com/AlascoTech?ref_src=twsrc%5Etfw"></a>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col">
              <h3>Developer Playlist</h3>
              <iframe src="https://open.spotify.com/embed/user/1121940860/playlist/0gzzDgp2PQQBjwqwDFuiJC" width="100%"
                      height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <ul class="list-unstyled list-inline text-center">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="https://www.alasco.de/datenschutzerklaerung/">Datenschutz
            / Privacy</a></li>
          <li><a href="https://www.alasco.de/impressum/">Impressum /
            Imprint</a></li>
        </ul>
      </div>
    </div>
    <div class="row mb-0">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center">
        <p><a href="https://www.alasco.de/">Alasco GmbH</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href="https://www.github.com/alasco-tech"><i class="fab fa-github"></i></a>
          </li>
          <li class="list-inline-item"><a href="https://www.twitter.com/AlascoTech"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="list-inline-item"><a href="https://www.linkedin.com/company/alasco-gmbh/"><i
              class="fab fa-linkedin"></i></li>
          <li class="list-inline-item"><a href="https://www.xing.com/companies/alascogmbh"><i class="fab fa-xing"></i>
          </li>
          <li class="list-inline-item"><a href="mailto:tech@alasco.de"><i class="fas fa-envelope"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

</body>
</html>
