---
layout: default
---

<div id="top" class="section article-header">
  <div class="max-width-container">
    <div class="max-width-container article">
      <h1 class="h1-article-headline">{{ page.title }}</h1>
      <h2 class="h2-subheadline">{{ page.subtitle }}</h2>

      {% if page.author.first %}
        {% comment %} author is not a string, but an array {% endcomment %}
        {% if page.author.size > 1 %}
          {% include multi_author_info.html %}
        {% else %}
          {% include single_author_info.html %}
        {% endif %}
      {% else %}
        {% include single_author_info.html %}
      {% endif %}

      </div>
      <div class="article-header-image-container">
        <img src="{{ site.url }}/assets/images/{{ page.thumb|default: 'post_thumb.jpg' }}"  alt="{{ page.teaseralt | default: page.title }}" class="article-header-image">
      </div>
    </div>
  </div>
  <div class="max-width-container"></div>
</div>
<div class="section article">
  <div class="max-width-container">
    <div class="max-width-container article">
      <div class="flexcontainer">
        <div class="flex-box-100">
          <div class="flex-box-padding w-clearfix article-content">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>