---
layout: default
---

<div id="top" class="section article-header">
  <div class="max-width-container">
    <div class="max-width-container article">
      <h1 class="h1-article-headline">{{ page.title }}</h1>
      <h2 class="h2-subheadline">{{ page.subtitle }}</h2>

      {% if page.author.first %}
        {% comment %} author is not a string, but an array {% endcomment %}
        {% if page.author.size > 1 %}
          {% include multi_author_info.html %}
        {% else %}
          {% include single_author_info.html %}
        {% endif %}
      {% else %}
        {% include single_author_info.html %}
      {% endif %}

      </div>
      <div class="article-header-image-container"><img src="{{ site.url }}/assets/images/{{ page.thumb|default: 'post_thumb.jpg' }}"  alt="{{ page.teaseralt | default: page.title }}" class="article-header-image"></div>
    </div>
  </div>
  <div class="max-width-container"></div>
</div>
<div class="section article">
  <div class="max-width-container">
    <div class="max-width-container article">
      <div class="flexcontainer">
        <div class="flex-box-70">
          <div class="flex-box-padding w-clearfix article-content">
            {{ content }}
          </div>
        </div>
        <div class="flex-box-30">
          <div class="flex-box-padding">
            <div class="job-box">
              <h4 class="h4-jobbox">Join our growing team!</h4>
              <h5>We&#x27;re hiring.</h5><a href="https://alasco.breezy.hr/" target="_blank" class="button-grey w-button">View Jobs now</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>