---

---

<div class="bg-oat py-16 text-midnight-blue">
  <div class="mx-auto w-full max-w-screen-lg p-4">
    <div class="flex flex-col justify-center">
      <h1 class="text-4xl font-bold">Tech in the Construction Industry</h1>
      <p class="mt-3 text-l">
        Here we&#x27;d like to share our experiences and thoughts building
        Alasco’s tech platform.
      </p>
      <p class="mt-3 text-l">
        We heavily rely on open source and the web community at large and would
        like to contribute back with this blog. If you have any questions (or
        would like to <a
          href="https://alasco.breezy.hr/"
          target="_blank"
          class="text-bright-teal">join us</a
        >), feel free to reach out <a
          href="https://twitter.com/tech_alasco"
          class="text-bright-teal">@tech_alasco</a
        >!
      </p>
    </div>
  </div>
</div>
